$a: 500px;
.content {
    padding-top: calc(#{$a} - 50px);
    min-height: 100vh;
    padding-bottom: 200px;
}

$yellow: #FFD700;
$blue: #3352DC;
$dark: #444444;
.list {
    padding: auto;
    a.category {
        display: block;
        text-decoration: underline;
        color: #444;
        background-color: #fff;
        border-radius: 4px;
        padding: 30px;
        margin-bottom: 30px;
        .category-inner {
            img,
            h4 {
                display: inline-block;
            }
            img {
                max-width: 40px;
            }
            h4 {
                font-size: 16px;
                padding-left: 30px;
                line-height: 20px;
                position: relative;
                top: 2px;
            }
            text-align: left;
        }
    }
}

.hero {
    top: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: $a;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
        color: rgb(217, 217, 217);
        overflow: hidden;
        h1 {
            font-size: 40px;
            margin-bottom: 20px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .list {
        a.category {
            .category-inner {
                img {
                    max-width: 20px;
                }
                h4 {
                    font-size: 14px;
                    line-height: 20px;
                    position: relative;
                    top: 1px;
                    padding-left: 30px;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .list {
        a.category {
            .category-inner {
                img {
                    max-width: 20px;
                }
                h4 {
                    font-size: 14px;
                    line-height: 20px;
                    position: relative;
                    top: 1px;
                    padding-left: 0;
                    width: 100%;
                    padding-top: 12px;
                }
            }
        }
    }
}