<div class="hero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="title">
                    <h1>Добро пожаловать в Миннесоту!</h1>
                    <p>
                        Quisque iaculis et nunc non tempus. Sed tempus eget mi nec tincidunt. Ut in nunc in ligula malesuada semper quis vel tellus. Sed posuere dignissim scelerisque. Duis vulputate enim a nisl commodo lobortis. Donec vel sodales turpis. Proin nisi nisi, consequat
                        luctus nunc a, sodales pharetra lorem. Praesent non diam id magna pulvinar egestas. Morbi venenatis posuere ullamcorper.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="list">
                <a class="category" *ngFor="let category of categories" [href]="category.link">
                    <div class="category-inner">
                        <img [src]="category.img" [alt]="category.title" />
                        <h4>{{ category.title }}</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>