<div class="hero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="title">
                    <h1>Добро пожаловать в Миннесоту!</h1>
                    <p>
                        Сайт в разработке!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="list">
                <a class="category" *ngFor="let category of categories" [href]="category.link">
                    <div class="category-inner">
                        <img [src]="category.img" [alt]="category.title" />
                        <h4>{{ category.title }}</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>