@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&family=Roboto+Mono:wght@100;600&display=swap');
body {
    margin: 0;
    // background-color: #FFD700;
    background: rgb(228, 192, 0);
    background: linear-gradient(0deg, rgba(228, 192, 0, 1) 0%, rgba(255, 215, 0, 1) 100%);
    position: relative;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1,
h4 {
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

.wrapper {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    img {
        max-width: 100%;
    }
    overflow: hidden;
}

h2 {
    width: 100%;
    text-align: center;
}