<div class="container wrapper">
    <p>ВСЯ ИНФОРМАЦИЯ&nbsp;</p>
    <p><br /></p>
    <p>Порядок действий:</p>
    <p><br /></p>
    <ol>
        <li>
            <p>
                Подготовить&nbsp;нужные документы&nbsp;для заявки на медицинскую страховку:
            </p>
        </li>
    </ol>
    <ul>
        <li>
            <p>
                Номера Social Security (социального страхования)&nbsp;или номера документов для легальных иммигрантов, которым нужна страховка.
            </p>
            <ul>
                <li>
                    <p>
                        DS2019 (certification of eligibility for exchange visitor (J-1) status)
                    </p>
                </li>
                <li>
                    <p>
                        I-20 (certificate of eligibility for nonimmigrant (F-1) student status)
                    </p>
                </li>
                <li>
                    <p>I-327 (reentry permit)</p>
                </li>
                <li>
                    <p>I-551 (permanent resident card or &quot;Green Card&quot;)</p>
                </li>
                <li>
                    <p>I-571 (refugee travel document)</p>
                </li>
                <li>
                    <p>I-688 (temporary resident card)</p>
                </li>
                <li>
                    <p>I-688A (employment authorization card)</p>
                </li>
                <li>
                    <p>I-688B (employment authorization document)</p>
                </li>
                <li>
                    <p>I-766 (employment authorization card)</p>
                </li>
                <li>
                    <p>I-94 (arrival/departure record)</p>
                </li>
                <li>
                    <p>I-94 (arrival/departure record) in unexpired foreign passport</p>
                </li>
                <li>
                    <p>Machine readable immigrant visa with temporary/I-551 language</p>
                </li>
                <li>
                    <p>Naturalization certificate</p>
                </li>
                <li>
                    <p>Temporary I-551 stamp in unexpired foreign passport</p>
                </li>
                <li>
                    <p>
                        Other (Must provide the document title. Examples of other document types include but not limited to:
                    </p>
                    <ul>
                        <li>
                            <p>Office of Refugee Resettlement</p>
                        </li>
                        <li>
                            <p>Document indicating withholding of removal</p>
                        </li>
                        <li>
                            <p>
                                Administrative order staying removal issued by the Department of Homeland Security
                            </p>
                        </li>
                        <li>
                            <p>Form I-360 Prima Facie Determinations</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <p>
                &nbsp;Информация о работодателе и доходе для всех членов вашей семьи
            </p>
        </li>
    </ul>
    <p>(например, корешки платежных квитанций, формы W-2 либо документы о</p>
    <p>выплате заработной платы или уплате налогов).</p>
    <ul>
        <li>
            <p>
                &nbsp;Номера полисов любой действующей медицинской страховки, если таковая имеется.
            </p>
        </li>
        <li>
            <p>
                &nbsp;Информация о любой связанной с местом работы медицинской страховке, имеющейся в распоряжении вашей семьи (если имеется).
            </p>
        </li>
    </ul>
    <p><br /></p>
    <ol start="2">
        <li>
            <p>Заполнить анкету:</p>
            <ol>
                <li>
                    <p>
                        Распечатать (см. в этой папке), заполнить и принести в окружной отдел или в офис MinnesotaCare Operations:
                    </p>
                </li>
            </ol>
        </li>
    </ol>
    <ul>
        <li>
            <p>АНКЕТА НА РУССКОМ ЯЗЫКЕ&nbsp;</p>
        </li>
    </ul>
    <p>
        <a href="https://drive.google.com/file/d/1q_kGrb0uSWjCPUAFrEQGx1DIIRYp72Kq/view?usp=sharing">https://drive.google.com/file/d/1q_kGrb0uSWjCPUAFrEQGx1DIIRYp72Kq/view?usp=sharing</a
    >&nbsp;
  </p>
  <ul>
    <li>
      <p>АНКЕТА НА АНГЛИЙСКОМ ЯЗЫКЕ&nbsp;</p>
    </li>
  </ul>
  <p>
    <a
      href="https://drive.google.com/file/d/1i0JTJSGZLei6z6BHqjU5SDQBNz88ZmGI/view?usp=sharing"
      >https://drive.google.com/file/d/1i0JTJSGZLei6z6BHqjU5SDQBNz88ZmGI/view?usp=sharing</a
    >
  </p>
  <ul>
    <li>
      <p>
        Адреса окружных отделов или офисов MinnesotaCare, куда можно принести
        анкету:&nbsp;<a
          href="https://mn.gov/dhs/people-we-serve/adults/health-care/health-care-programs/contact-us/county-tribal-offices.jsp"
          >https://mn.gov/dhs/people-we-serve/adults/health-care/health-care-programs/contact-us/county-tribal-offices.jsp</a
        >&nbsp;
      </p>
    </li>
  </ul>
  <p><br /></p>
  <ol start="2">
    <li>
      <p>ИЛИ заполнить в интернете по этим ссылкам:</p>
      <ol>
        <li>
          <p>
            Создать профиль:&nbsp;<a
              href="https://www.mnsure.org/acct-access/create-account-check.jsp"
              >https://www.mnsure.org/acct-access/create-account-check.jsp</a
            >
          </p>
        </li>
        <li>
          <p>
            Подать заявку:&nbsp;<a
              href="https://www.mnsure.org/new-customers/apply/with-fin-help/sign-in-choose.jsp"
              >https://www.mnsure.org/new-customers/apply/with-fin-help/sign-in-choose.jsp</a
            >
            (выбрать вариант С ФИНАНСОВОЙ ПОМОЩЬЮ &rarr;&nbsp;WITH financial
            help)
          </p>
        </li>
      </ol>
    </li>
  </ol>
  <p><br /></p>
  <ol start="3">
    <li>
      <p>После получения подтверждения,&nbsp;выбрать страховой полис</p>
    </li>
  </ol>
  <p><br /></p>
  <p>
    ЕСЛИ ЕСТЬ ВОПРОСЫ НАСЧЕТ АНКЕТЫ ИЛИ ВЫБОРА СТРАХОВОГО ПЛАНА (ПОЛИСА), МОЖНО
    ОБРАТИТЬСЯ К РУССКОГОВОРЯЩИМ ЛИЦЕНЗИРОВАННЫМ СПЕЦИАЛИСТАМ:
  </p>
  <p><br /></p>
  <p>Name&nbsp;Barskiy, Lana</p>
  <p>Organization&nbsp;Metropolitan Community Services</p>
  <p>Address&nbsp;7900 Excelsior Blvd #200</p>
  <p>City / State / ZIP&nbsp;Hopkins, MN 55343</p>
  <p>County&nbsp;Hennepin&nbsp;</p>
  <p>Assister Type&nbsp;Navigator</p>
  <p>Email&nbsp;lbarskiy@mcsmn.com</p>
  <p>Phone&nbsp;(952) 658-8995</p>
  <p>Spoken Languages&nbsp;English, Russian</p>
  <p>
    Counties Served&nbsp;Anoka, Carver, Dakota, Hennepin, Ramsey, Scott,
    Sherburne, Washington
  </p>
  <p>Certified for Insulin Program assistance&nbsp;Yes</p>
  <p><br /></p>
  <p>Name&nbsp;Aleynykov, Felix</p>
  <p>Organization&nbsp;HealthyCare</p>
  <p>Address&nbsp;1650 West End Blvd</p>
  <p>Address 2&nbsp;Suite 100&nbsp;</p>
  <p>City / State / ZIP&nbsp;Saint Louis Park, MN 55416</p>
  <p>County&nbsp;Hennepin&nbsp;</p>
  <p>
    Assister TypeBrokerEmail&nbsp;<a href="mailto:healthycaregroup@gmail.com"
      >healthycaregroup@gmail.com</a
    >
  </p>
  <p>Phone(612) 504-0056&nbsp;</p>
  <p>Spoken Languages&nbsp;English, Russian</p>
  <p>Counties Served&nbsp;Anoka, Dakota, Hennepin, Ramsey</p>
  <p>Certified for Insulin Program assistance&nbsp;No</p>
  <p><br /></p>
</div>